apiVersion: batch/v1
kind: CronJob
metadata:
  name: healthcheck
spec:
  schedule: "*/2 * * * *"
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: healthcheck
            image: curlimages/curl:8.17.0
            args:
            - -fs
            - 'https://pioter-kuma.zeabur.app/api/push/vZs5inDYPp?status=up&msg=OK&ping='
          restartPolicy: OnFailure
      activeDeadlineSeconds: 15
      backoffLimit: 3
